# --- PUBLIC CONFIG ---
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_TENANT_ID=alvarolondono

# --- PRIVATE CONFIG (SERVER SIDE) ---
INTERNAL_API_URL=http://localhost:3001/api
INTERNAL_API_KEY=your_secret_key_here
S3_PUBLIC_DOMAIN=s3.perfil.plus

# --- PROVIDERS ---
NEXT_PUBLIC_META_APP_ID=
NEXT_PUBLIC_META_CONFIG_ID=
NEXT_PUBLIC_META_HUB_DOMAIN=
